.game-list li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.game-pic {
    float: left;
    max-width: 200px;
    max-height: 140px;
    width: 250px;
    height: 140px;
    padding: 15px 15px 50px 15px;
}

.game-form-page {
    padding-top: 50px;
}

.game-form h1 {
    text-transform: capitalize;
    font-size: x-large;
    padding-bottom: 50px;
}

.game-form {
    border: 1px solid gold;
    background-color: rgb(26, 26, 26);
    padding: 25px 25px 25px 25px;
    width: 500px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-form p {
    display: flex;
    float: left;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100px;
}

.game-box{
    max-width: 100%;
}

.game-box > img {
    padding-top: 60px;
    padding-bottom: 10px;
    max-width: 250px;
    max-height: 250px;

}

.list-picture{
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 200px;
    max-height: 200px;
}

.paragraph{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 20pt;
    color: gold;
}

.game-box h3 {
    font-size: 25px;
    color: white;
    padding-bottom: 15px;
}

.game-box .item-div h1 {
    font-size: 18px;
    color: gold;
}

.game-form input,
.game-form textarea {
    display: flex;
    float: right;
    padding: 8px 8px 8px 8px;
}

.game-form textarea {
    height: 100px;
    resize: none;
}

::placeholder {
    color: rgb(73, 72, 72);
}

input:focus {
    border: 3px solid gold;
}

.game-form button {
    width: 100px;
    align-self: center;
    color: black;
    font-weight: bold;
    background-color: gold;
    height: 40px;
    font-size: 15px;
    margin-top: 50px;
}

.game-form button:hover {
    background-image: linear-gradient(to top right, gold, white);
    cursor: pointer;
}