/* Item creation form */

.item-form-page {
    padding-top: 50px;
}

.item-form-name {
    text-transform: capitalize;
    font-size: x-large;
    padding-bottom: 50px;
}

.item-form {
    border: 1px solid gold;
    background-color: rgb(26, 26, 26);
    padding: 25px 25px 25px 25px;
    width: 500px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.item-form p {
    display: flex;
    float: left;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100px;
}

.item-form input,
.item-form textarea {
    display: flex;
    float: right;
    padding: 8px 8px 8px 8px;
}

.item-form textarea {
    height: 100px;
    resize: none;
}

::placeholder {
    color: rgb(73, 72, 72);
}

input:focus {
    border: 3px solid gold;
}

.item-form button {
    width: 100px;
    align-self: center;
    color: black;
    font-weight: bold;
    background-color: gold;
    height: 40px;
    font-size: 15px;
    margin-top: 50px;
}

.item-form button:hover {
    background-image: linear-gradient(to top right, gold, white);
    cursor: pointer;
}

/* Item index page */

.item-index ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-div {
    padding: 15px 15px 50px 15px;
    align-items: center;
    width: 200px;
    height: 140px;
}

.item-div h1 {
    padding-bottom: 15px;
}

.item-div img {
    max-width: 200px;
    max-height: 140px;
}

.item-show h1 {
    margin: 0 auto;
    padding: 15px 15px 25px 15px;
    font-size: large;
    font-weight: bold;
}

.item-show img {
    float: left;
    max-width: 200px;
    max-height: 140px;
    padding: 15px 15px 50px 15px;
    
}

.item-show p {
    padding: 15px 15px 50px 15px;
    text-align: left;
}