header, .session-buttons, .title-link, .navbar a {
    display: contents;
}

.navbar {
    display: grid;
    grid-template-columns: 130px auto 130px;
    padding-bottom: 25px;
    align-items: center;
}

.navbar button {
    margin-top: 25px;
    margin-bottom: 25px;
}

.signup-button {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: left;

}

.website-title {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.logout-button, .login-button {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: right;

}

.signup-button, .login-button, .logout-button {
    color: black;
    font-weight: bold;
    background-color: gold;
    width: 80px;
    height: 80px;
    font-size: 15px;
}

.signup-button:hover,
.login-button:hover,
.logout-button:hover {
    background-image: radial-gradient(white, gold);
    cursor: pointer;
}

.website-title {
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    font-size: 75px;
    width: 210px;
}

.title-link {
    text-decoration: none;
} 
